/* Estilos para el componente InicioComponent */
.inicio-component {
  text-align: center;
  padding: 20px;
  background-color: #47e94c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para el título principal en InicioComponent */
.main-title {
  font-family: 'britannic bold', sans-serif;
  font-size: 36px;
  margin: 0;
}

/* Estilos para el botón personalizado en InicioComponent */
.custom-button {
  background-color: #0000ffe5;
  color: #ffffff;
  border: 2px solid #4319ed;
  padding: 15px 20px;
  margin: 10px;
  font-size: 15px;
  border-radius: 90px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.custom-button:hover {
  background-color: #0056b3;
}
